@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

:root {
    --cor0: black;
    --cor1:white;
    

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-nerkoone: 'Nerko One', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    font-family: var(--font-nerkoone);
}

header {
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
    background-color: var(--cor0);
}

header > h1 {
    font-size: 7em;
    color: var(--cor1);
    font-family: var(--font-nerkoone);
    font-weight: normal;
    margin-bottom: 10px;
}

header > p {
    font-family: var(--font-padrao);
    color: var(--cor1);
    padding: 2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 100px;
}

a {
    color: var(--cor1);
    font-weight: bold;
    text-decoration: none;
    padding: 2px 3px;
}

section.frase1 {
    background-color: var(--cor1);
    color:var(--cor0);
    padding: 30px;
    margin: -10px -10px 0 -10px;
    font-size: 3em; 
    text-align: justify; 
    line-height: 1.5em; 
    margin-bottom: 20%; 
}

section.frase2 {
    color:var(--cor1);
    padding: 30px;
    margin: 0px;
    font-size: 3em;  
    text-align: justify; 
    line-height: 1.5em; 
    
}

section#img1 {
    background: rgba(0, 0, 0, 0) url('imagens/background001.jpg') no-repeat fixed right center;
    margin-bottom: 20%;
    background-size: cover;
    height: 65vh;
}

div.resolver1 {
    background-color: rgba(0, 0, 0, 0.271);
    height: 600px;
    width: 550px;
    margin: 0px;
    padding: 0px;

}

div.resolver2 {
    background-color: rgba(0, 0, 0, 0.387);
    height: 600px;
    width: 550px;
    margin: 0px;
    padding: 0px;

}

section#img2 {
    background: rgba(0, 0, 0, 0) url('imagens/background002.jpg') no-repeat fixed center bottom;
    margin-bottom: 20%;
    background-size: cover;
    height: 65vh;
    
}
section.frase3 {
    background-color: var(--cor1);
    color:var(--cor0);
    padding: 30px;
    margin: -10px -10px 0 -10px;
    font-size: 3em; 
    text-align: justify; 
    line-height: 1.5em;  
    margin-bottom: 20%;
}
section.frase4 {
    color:var(--cor1);
    padding: 30px;
    margin: 0px;
    font-size: 3em;  
    text-align: justify; 
    line-height: 1.5em; 
}

section.frase5 {
    background-color: var(--cor1);
    color:var(--cor0);
    padding: 30px;
    margin: -10px -10px 0 -10px;
    font-size: 3em;   
    margin-bottom: 30%;
    text-align: justify; 
    line-height: 1.5em;
}

footer > p {
    background-color: var(--cor0);
    color: white;
    text-align: center;
    font-weight: 0.8em;
    padding: 2px;
    font-family: var(--font-padrao);
}

  